{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="position-relative" style="z-index: 5;">
        <div class="position-absolute top-0 end-0 px-3 pt-2">
            <a href="/sensors/">Все датчики</a>
        </div>
    </div>
    
    {{ contentList('sensor_data', 'sensors', {"isActive": true}, {"_id": "asc"}, -50) }}
    
{% endblock %}
